.swiper-container {
  height: 100%;
}

.swiper-button-next,
.swiper-button-prev {
  color: #fff;
  transition: all 0.3s;

  &::after {
    font-size: 2rem;
  }
}

.swiper-pagination-bullet-active {
  background-color: #fff !important;
}
