.RestaurantSearchPage {
  &__search-bar-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  &__search-bar-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-radius: 5px;

    @media (min-width: 481px) {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      margin: 1rem 0 2rem 0;
      width: fit-content;
      border-radius: 5px;
      background-color: #f7fafc;
    }

    label {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      width: fit-content;
      height: 100%;
      margin: 0.5rem 0;
      border-radius: 5px;

      @media (min-width: 481px) {
        width: fit-content;
        margin: 0;
        box-shadow: none;
        border: 0;
      }

      div {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 55px;
        height: 35px;
        padding: 0.5rem;
        background-color: #f7fafc;
        border-radius: 5px 0px 0px 5px;
        font-weight: bold;
      }

      input {
        width: 250px;
        padding: 0.5rem;
        background-color: #f7fafc;
        border: 0;
        border-radius: 0px 5px 5px 0px;
        height: 100%;
        display: block;
        font-size: 1rem;
        font-family: 'Lato', sans-serif;

        @media (min-width: 481px) {
          border-radius: 0;
        }
      }

      input[name='term'] {
        @media (min-width: 481px) {
          border-right: 1px solid #cbd5e0;
        }
      }
    }

    button {
      padding: 0.5rem;
      border: 0;
      background-color: #667eea;
      height: 35px;
      width: 70px;
      color: #fff;
      border-radius: 5px;
      margin-bottom: 0.5rem;

      @media (min-width: 481px) {
        margin: 0;
        border-radius: 0px 5px 5px 0px;
      }

      &:hover {
        background-color: darken(#667eea, 5%);
      }
    }
  }
}
