.RestaurantProfilePage {
  &__header-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 39px;
  }

  &__back-arrow-link {
    text-decoration: none;
    color: #667eea;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-start;
    padding-left: 1rem;
    padding-right: calc(50% - (145.11px / 2) - 26px);
  }

  &__header-link {
    text-decoration: none;
    color: #38b2ac;
  }

  img {
    margin-right: 0.2rem;
  }
}
