.header-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center;
  padding: 1rem 0rem;

  @media (min-width: 481px) {
    padding-top: calc((50vh - (553px / 2) - 42px));
  }

  h1 {
    color: #38b2ac;
  }

  h3 {
    color: #7f9cf5;
  }
}
