.search-bar-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;

  .search-bar-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-radius: 5px;

    @media (min-width: 481px) {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: flex-start;
      margin-top: 1rem;
      width: fit-content;
      border-radius: 5px;
    }

    .search-bar-search-button {
      border: 0;
      background-color: #667eea;
      height: 35px;
      width: 70px;
      border-radius: 5px;
      margin: 0;
      margin-bottom: 1rem;

      @media (min-width: 481px) {
        margin: 0;
        border-radius: 0px 5px 5px 0px;
      }

      &:hover {
        background-color: darken(#667eea, 5%);
      }

      i {
        color: #fff;
      }
    }
  }
}

input::-webkit-calendar-picker-indicator {
  display: none;
}
