.RestaurantProfilePage {
  &__restaurant-prof-reviews-card {
    border: 1px solid #edf2f7;
    border-radius: 3px;
    padding: 1rem;
    margin-bottom: 1rem;
    background-color: #f7fafc;
    height: 170px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    transition: all 0.5s;

    &:hover {
      box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
        0 2px 4px -1px rgba(0, 0, 0, 0.06);
    }

    @media (min-width: 481px) {
      height: 140px;
    }

    @media (min-width: 769px) {
      height: 140px;
    }
  }
}
