.header-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  text-align: center;
  padding: 1rem;

  .header-link {
    height: 30px;
    width: 30px;

    @media (min-width: 1025px) {
      height: 35px;
      width: 35px;
    }
  }

  .header-logo {
    height: 30px;
    width: 30px;

    @media (min-width: 1025px) {
      height: 35px;
      width: 35px;
    }
  }
}
