.card-list-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, 1fr);
  grid-gap: 1rem;
  justify-content: center;
  width: 100%;
  height: auto;
  overflow-y: scroll;

  @media (min-width: 481px) {
    grid-template-columns: repeat(auto-fit, 375px);
  }

  @media (min-width: 769px) {
    grid-template-columns: repeat(auto-fit, 500px);
    height: 100%;
    width: 532px;
    padding-top: 0rem;
  }

  @media (min-width: 1601px) {
    width: 1048px;
  }

  @media (min-width: 2101px) {
    width: 1564px;
  }

  .card-list-bubble-loader {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    height: 2rem;

    @media (min-width: 481px) {
      grid-column: 1 / -1;
    }
  }
}
