.card-list-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, 1fr);
  grid-gap: 2rem;
  justify-content: center;
  width: 100%;
  height: auto;
  overflow-y: scroll;

  .card-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 200px;
    width: 375px;
    border: 1px solid #edf2f7;
    border-radius: 5px;
    transition: all 0.5s;
    background-color: #f7fafc;

    &:hover {
      box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
        0 2px 4px -1px rgba(0, 0, 0, 0.06);
    }

    .image-container {
      height: 160px;
      width: 160px;

      img {
        height: 160px;
        width: 160px;
        object-fit: cover;
        border: 0;
        border-radius: 3px;
      }
    }

    .content-container {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
      height: 160px;
      width: 160px;

      .title-row {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: 2rem;
      }
    }
  }

  .card-list-loader {
    height: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    grid-column: 1 / -1;

    .bubble {
      animation: expand 0.75s ease-in-out infinite;
      border-radius: 50%;
      display: inline-block;
      transform-origin: center center;
      margin: 0 3px;
      width: 1rem;
      height: 1rem;
    }

    .bubble:nth-child(1) {
      background: #7f9cf5;
    }

    .bubble:nth-child(2) {
      animation-delay: 180ms;
      background: #7f9cf5;
    }

    .bubble:nth-child(3) {
      animation-delay: 360ms;
      background: #7f9cf5;
    }

    @keyframes expand {
      0% {
        transform: scale(1);
      }
      25% {
        transform: scale(1.55);
      }
    }
  }
}
