.search-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;

  .form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-radius: 5px;

    input {
      width: 250px;
      padding: 0.5rem;
      background-color: #f7fafc;
      border: 0;
      border-radius: 5px;
      height: 100%;
      display: block;
      margin: 0.5rem 0;
      box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
        0 2px 4px -1px rgba(0, 0, 0, 0.06);
    }

    button {
      padding: 0.5rem;
      border: 0;
      background-color: #667eea;
      width: 70px;
      color: #fff;
      border-radius: 5px;
      margin-top: 0.5rem;
      margin-bottom: 1rem;
      box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
        0 2px 4px -1px rgba(0, 0, 0, 0.06);

      &:hover {
        background-color: darken(#667eea, 5%);
      }
    }
  }
}
