@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  height: 100%;
  font-size: 16px;
  overflow-y: hidden;
}

html {
  background-color: #fff;
  color: #333;
  font-family: 'Lato', sans-serif;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: calc(100vh - 157px - 55px);
}

@import 'header';

@import 'search';

@import 'isloading';

@import 'map';

@import 'marker';

@import 'card';

@import 'stars';

@media (min-width: 769px) {
  .search-container {
    .form {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      margin: 1rem 0 2rem 0;
      width: fit-content;
      border-radius: 5px;
      box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
        0 2px 4px -1px rgba(0, 0, 0, 0.06);

      label {
        width: fit-content;
        margin: 0;
        box-shadow: none;
      }

      input {
        border-radius: 0;
      }

      input[name='term'] {
        border-radius: 5px 0px 0px 5px;
        border-right: 1px solid #cbd5e0;
      }

      button {
        margin: 0;
        border-radius: 0px 5px 5px 0px;
      }
    }
  }

  .main-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: calc(100vh - 55px - 79px);

    .map-container {
      height: 100%;
      width: 50%;
    }

    .card-list-container {
      grid-template-columns: repeat(auto-fit, 500px);
      height: 100%;
      width: 50%;

      .card-container {
        height: 250px;
        width: 500px;
      }

      .image-container {
        height: 210px;
        width: 210px;

        img {
          height: 210px;
          width: 210px;
        }
      }

      .content-container {
        height: 210px;
        width: 210px;
      }
    }
  }
}

@media (min-width: 1025px) {
  .main-container {
    .map-container {
      height: 100%;
      width: 45%;
    }

    .card-list-container {
      height: 100%;
      width: 55%;
    }
  }
}
