.banner-container {
  display: none;

  @media (min-width: 769px) {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
  }

  .logout-btn-container,
  .login-register-btn-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;

    button {
      height: 35px;
      width: 100px;
      padding: 0.5rem;
      margin: 1rem 0rem;
      color: #fff;
      background-color: #667eea;
      border: 0;
      border-radius: 5px;
      font-family: 'Lato', sans-serif;
      font-weight: 900;

      &:hover {
        background-color: darken(#667eea, 5%);
      }
    }

    button[name='login-btn'] {
      margin-left: 1rem;
    }

    button[name='register-btn'] {
      margin: 0rem 1rem;
    }
  }
}
