.restaurant-prof-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  width: 100%;
  padding: 0rem 1rem;

  @media (min-width: 481px) {
    padding: 0rem 1rem;
  }

  @media (min-width: 1201px) {
    justify-content: center;
    padding-left: 10rem;
    padding-right: 10rem;
  }

  @media (min-width: 1441px) {
    padding-left: 15rem;
    padding-right: 15rem;
  }

  .restaurant-prof-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;

    @media (min-width: 769px) {
      background-color: #f3f4f6;
      flex-direction: row;
      margin-bottom: 1rem;
      border: 1px solid #edf2f7;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
    }

    .restaurant-prof-images {
      height: 250px;
      width: 100%;

      @media (min-width: 481px) {
        height: 300px;
        width: 500px;
      }

      @media (min-width: 769px) {
        height: 350px;
        width: 550px;
      }

      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }

    .restaurant-prof-text-btn {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      height: auto;
      width: 100%;
      margin-top: 1rem;
      margin-bottom: 1rem;

      .restaurant-prof-title {
        text-align: center;
        text-decoration: underline;
        font-weight: 900;
      }

      .restaurant-prof-stars-reviews {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        p {
          margin-left: 0.5rem;
        }
      }

      .restaurant-prof-price-category {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        text-align: center;
      }

      .restaurant-prof-address {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }

      .restaurant-prof-save-btn-container {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        padding-top: 1rem;

        .restaurant-prof-save-btn {
          display: flex;
          align-items: center;
          justify-content: space-evenly;
          height: 35px;
          width: 100px;
          padding: 0.5rem;
          margin: 0;
          color: #fff;
          background-color: #667eea;
          border: 0;
          border-radius: 5px;
          font-size: 16px;
          font-family: 'Lato', sans-serif;
          font-weight: 900;

          &:hover {
            background-color: darken(#667eea, 5%);
          }

          i {
            color: #fff;

            p {
              font-size: 16px;
              font-family: 'Lato', sans-serif;
              font-weight: 900;
            }
          }
        }
      }
    }
  }

  .restaurant-prof-map-reviews {
    @media (min-width: 769px) {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: flex-start;
      width: 100%;
    }

    .restaurant-prof-map-directions {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      @media (min-width: 769px) {
        width: 50%;
        height: 100%;
        justify-content: flex-start;
      }

      .restaurant-prof-directions-btn {
        margin-bottom: 1rem;

        button {
          padding: 0.5rem;
          border-radius: 5px;
          border: 0;
          color: #fff;
          background-color: #667eea;
          font-family: 'Lato', sans-serif;
          font-size: 16px;
          width: 140px;

          &:hover {
            background-color: darken(#667eea, 5%);
          }
        }
      }
    }

    .restaurant-prof-reviews-container {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;

      @media (min-width: 769px) {
        height: 100%;
        width: 50%;
        margin-left: 1rem;
      }
    }
  }
}
