.RestaurantSearchPage {
  &__main-content-loader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h3 {
      text-align: center;
    }
  }

  &__main-content-bubble-loader {
    height: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}
