.google-map-container {
  height: 33vh;
  width: 100%;
  display: none;

  @media (min-width: 481px) {
    height: 40vh;
    width: 100%;
    display: block;
  }

  @media (min-width: 769px) {
    height: 100%;
    width: calc(100% - 532px);
  }

  @media (min-width: 1601px) {
    width: calc(100% - 1048px);
  }

  @media (min-width: 2101px) {
    width: calc(100% - 1564px);
  }
}
