.restaurant-search-bar-location-param-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;

  @media (min-width: 481px) {
    background-color: #f3f4f6;
    margin-bottom: 0;
  }

  label {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 55px;
    height: 100%;
    border-right: 1px solid #cbd5e0;
    background-color: #f3f4f6;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding: 0.5rem;

    @media (min-width: 481px) {
      margin: 0;
      box-shadow: none;
      border: 0;
    }
  }

  div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;

    input {
      width: 250px;
      padding: 0.5rem;
      background-color: #f3f4f6;
      border: 0;
      border-radius: 0px 5px 5px 0px;
      height: 100%;
      display: block;
      font-size: 1rem;
      font-family: 'Lato', sans-serif;

      @media (min-width: 481px) {
        border-radius: 0;
      }
    }
  }
}
