.user-login-form-container {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .user-login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

    .user-login-username-container {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      width: 300px;
      margin-top: 1rem;
      border: 1px solid #cbd5e0;
      border-radius: 5px;

      @media (min-width: 481px) {
        width: 450px;
      }

      i {
        text-align: center;
        width: 30px;
      }

      input {
        height: 2rem;
        width: calc(300px - 30px);
        border: 0;
        font-size: 1rem;
        font-family: 'Lato', sans-serif;

        @media (min-width: 481px) {
          width: calc(450px - 30px);
        }
      }
    }

    .user-login-password-container {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      width: 300px;
      border: 1px solid #cbd5e0;
      border-radius: 5px;

      @media (min-width: 481px) {
        width: 450px;
      }

      i {
        text-align: center;
        width: 30px;
      }

      input {
        height: 2rem;
        width: calc(300px - 30px);
        border: 0;
        font-size: 1rem;
        font-family: 'Lato', sans-serif;

        @media (min-width: 481px) {
          width: calc(450px - 30px);
        }
      }
    }

    .user-login-username-error,
    .user-login-password-error {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      height: 1.5rem;
      width: 300px;
      color: red;

      @media (min-width: 481px) {
        width: 450px;
      }
    }

    button {
      display: block;
      height: 100%;
      width: 300px;
      padding: 0.5rem;
      color: #fff;
      background-color: #667eea;
      border: 0;
      border-radius: 5px;
      font-family: 'Lato', sans-serif;
      font-size: 1rem;
      font-weight: bold;

      &:hover {
        background-color: darken(#667eea, 5%);
      }

      @media (min-width: 481px) {
        width: 450px;
      }
    }
  }
}
