.header-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  height: 62px;
  width: 100%;
  text-align: center;
  padding: 1rem 1rem;

  @media (min-width: 481px) {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
    padding-top: calc((100vh - 275px - 62px - 148px) / 2);
    height: auto;
  }

  @media (min-width: 1025px) {
    padding-top: calc((100vh - 275px - 62px - 148px - 67px) / 2);
  }

  .header-main-logo {
    height: 30px;
    width: 30px;

    @media (min-width: 481px) {
      height: 64px;
      width: 64px;
    }
  }

  .header-main-title {
    color: #38b2ac;
    font-size: 25px;
    margin-left: calc((100vw - 16px - 16px - 30px - 30px - 113.38px) / 2);

    @media (min-width: 481px) {
      display: initial;
      font-size: 32px;
      margin: 0;
    }
  }

  .header-sub-title {
    display: none;

    @media (min-width: 481px) {
      display: initial;
      color: #7f9cf5;
      margin-bottom: 1rem;
    }
  }
}
