.HomePage {
  &__header-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

    h1 {
      color: #38b2ac;
    }

    h3 {
      color: #7f9cf5;
    }
  }
}
