.main-content-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: calc(100vh - 62px - 175px);

  @media (min-width: 481px) {
    height: calc(100vh - 62px - 78px);
  }

  @media (min-width: 769px) {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  @media (min-width: 1025px) {
    height: calc(100vh - 67px - 78px);
  }
}
